build
lib
obj
*.o
*.a
*.pyc
*.pt
*.pkl
*.tar.gz
results
log
dreamplace/version.py
dist
dreamplace.egg-info
install
*.so
.DS_Store
.vscode/*
benchmarks/*
bin/*
cmake/*
debug/*
images/*
include/*
test/*
unittest/*
*.txt
*.ot
build/*
cache/*
debug/*
